body {
  background: #222;
  font-family: arial, sans-serif;

}
table {border: none;}

h3 {
  margin: 4px 0;
  padding: 5px 0;
  font-family: arial, sans-serif;
  width: 100%;
  color: #fff;
}
h3 a {
  color: #00B2EE;
  text-decoration: none;
}
h3 a:hover {
  color: #55d4ff;
}

#map-canvas {
  width: auto;
  height: 500px;
}

table{
  width: 100%;
  padding: 5px;
}
label{
  color: white;;
}

input, select, textarea {
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
  padding: 5px;
  border-radius: 5px;
  min-width: 300px;
  width: 100%;
  font-size: 16px;
  font-family: arial, sans-serif;
  float: left;
}
.left {
  width: 20%;
}
.middle {
  width: 80%;
}

#info {
  color: #222;
}
textarea#graphql{
  height: 400px;
  min-width: 300px;
  width: 100%;
}
textarea#coordinates{
  min-width: 300px;
  width: 100%;
  min-height: 100px;
}
.lngLat {
  color: #fff;
  margin-bottom: 5px;
}

button {
  float: left;
  margin-right: 10px;
  padding: 6px 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}


